/tools/arm-gnu-toolchain-14.3.rel1-mingw-w64-x86_64-arm-none-eabi
/MainControlBoard/STM32/STM32G473CET6/build
/MainControlBoard/STM32/STM32G473RET6/build
/MainControlBoard/STM32/STM32G474RET6/build
/MainControlBoard/XMC/XMC4200/build